.top {
  padding: 20px 10px;
  max-width: 500px;
  margin: auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  margin-top: 20px;
  line-height: 25px;
}

.fullname {
  font-size: 16px;
  color: #262626;
  font-weight: bold;
}

.bio {
  font-size: 15px;
  color: #262626;
  font-weight: 300;
}

.website {
  font-weight: bold;
  color: #00376b;
  text-decoration: none;
}

.dp {
  flex: 1 1 40%;
  display: flex;
  flex-flow: column;
}

.action {
  flex: 2 1 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.action p {
  font-size: 24px;
  margin-bottom: 20px;
}

.numbers {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.numbers div {
  text-align: center;
}

.numbers label {
  color: #8e8e8e;
}
