.appInfo {
  margin-top: 40px;
}

.appInfo p {
  font-size: 14px;
  color: #262626;
  text-align: center;
}

.appButtons {
  margin-top: 20px;
}

.logoImg {
  width: 130px;
  height: 50px;
  cursor: pointer;
}
