.active,
.disabled {
  width: 100%;
  font-size: 16px;
  padding: 6px;
  color: #ffffff;
  background-color: #0095f6;
  outline: none;
  border: none;
}

.active {
  cursor: pointer;
}

.disabled {
  background-color: #acdbfa;
}
