.container {
  width: 100%;
}

@media (min-width: 400px) {
  .container {
    width: 400px;
    margin: auto;
  }
}

.liker {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
