.imageGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.img {
  width: 33.33%;
  height: 150px;
  flex: 0 33.33%;
}

@media only screen and (min-width: 760px) {
  .img {
    height: 200px;
  }
}
